.Password {
  width: 75%;
  height: 100%;
}

.Password .Header {
    width:100%;
    height: auto;
    font-family:var(--bold);
    font-weight:500;
    font-size:.7rem;
    display:flex;
    align-items:center;
    justify-content: center;
    color:var(--w1);
}

.Password .Password__Form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.Password .Password__Form h2 {
    color:var(--w2);
    font-family:var(--light);
    font-weight: 300;
    line-height: 0;
    font-size: .8rem;
    margin:1.3em 0;
}

.Password .Password__Form input[type="password"] {
    background-color:transparent;
    color:var(--w1);
    border-radius:.25em;
    border:1px solid var(--w1);
    outline: none;
    font-family: var(--light);
    font-weight: 300;
}

.Password .Password__Form button {
    margin-top:1.25em;
    width:50%;
    background-color: transparent;
    color:var(--w1);
    border:1px solid var(--w1);
    border-radius:.25em;
    padding:0.5em 0.25em;
    cursor: pointer;
    outline: none;
    transition:background-color 0.3s, color 0.3s;
}

.Password .Password__Form button:hover {
    background-color:var(--w1);
    color:var(--blu);
}

.Password .Popup {
    background-color:var(--err);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0.75em;
    border-radius:0.25em;
    transition:opacity 0.3s;
    box-shadow: 0 7px 20px -3px var(--err);
}

.Password .Popup p {
    font-size: .8rem;
    padding:.4em 0;
    font-family: var(--light);
    color:var(--w1);
    font-weight: 300;
    line-height: 0;
}