.ChatInput {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3.5em 1fr;
  border-top: 1px solid var(--g2);
  box-sizing: border-box;
}

.ChatInput .ChatInput__Form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3.5em;
}

.ChatInput .ChatInput__Form__Input {
  display: block;
  position: relative;
  width: 100%;
  height: 3.5em;
  padding-top: 1.2em;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  font-family: var(--light);
  font-weight: 400;
  color: var(--b);
  box-sizing: border-box;
  opacity: 0.7;
}

.ChatInput .Attachment__Input {
  position: absolute;
}

.ChatInput .ChatInput__At__Preview {
  position: absolute;
  width:13em;
  height:15em;
  background-color:var(--w1);
  bottom:5em;
  left:2em;
  border-radius:1em;
  overflow: hidden;
}

.ChatInput .ChatInput__At__Preview p {
  position: absolute;
  font-size: 1rem;
  font-family: var(--light);
  font-weight: 300;
  white-space: nowrap;
  left:50%;
  margin-top:.4em;
  transform:translateX(-50%);
}

.ChatInput .ChatInput__At__Preview img {
  max-width: 11em;
  max-height:10.5em;
  position: relative;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  box-shadow:0 7px 20px -3px var(--blu);
}

.ChatInput .ChatInput__Form__Input:hover,
.ChatInput .ChatInput__Form__Input:focus {
  opacity: 1;
}

.ChatInput .ChatInput__Form__Input::-webkit-scrollbar {
  width: 0.7em;
}

.ChatInput .ChatInput__Form__Input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.ChatInput .ChatInput__Form__Input::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--b);
  border-radius: 0.5em;
  border: solid 3px transparent;
}

.ChatInput .ChatInput__Form__Input::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--b);
}

.ChatInput .ChatInput__Emoji {
  background-image: url("http://localhost:3000/assets/attachment.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.3em;
  transition: opacity 0.4s;
  cursor: pointer;
}

.ChatInput .ChatInput__Form .ChatInput__Form__Send {
  position: absolute;
  width:5em;
  height: 5em;
  right:1em;
  bottom:2em;
  z-index: 9999;
  border: none;
  background-color: var(--blu);
  background-image: url("http://localhost:3000/assets/send2.svg");
  background-position: 48% 50%;
  background-repeat: no-repeat;
  border-radius:1em;
  background-size: 1.7em;
  transition: opacity 0.4s;
  cursor: pointer;
  box-shadow:0 7px 20px -3px var(--blu);
  transition:opacity .4s;
  outline: none;
  opacity: 0.9;
}

.ChatInput .ChatInput__Form .ChatInput__Form__Send:hover {
  opacity: 1;
}