.UserList {
  position: relative;
  background: linear-gradient(to bottom, var(--blu) 0%,var(--blu3) 100%); 
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:5.5em 1fr;
}

.UserList__Search__Container {
  position: relative;
}

.UserList__Search__Container input {
  width: 87%;
  height: 32px;
  top:2em;
  position: relative;
  left:50%;
  transform:translateX(-50%);
  background: var(--blu3);
  border: none;
  border-radius: 5px;
  color:var(--w1);
  text-indent:40px;
  outline: none;
  transition:box-shadow .3s;
}

.UserList__Search__Container:after {
  content:'';
  position: absolute;
  top:100%;
  left: 50%;
  width:80%;
  transform:translateX(-50%);
  height:1px;
  background-color:var(--blu3);
}

.UserList__Search__Container input::placeholder {
  opacity: 0.5;
  color:var(--w1);
}

.UserList__Search__Container input:focus {
  box-shadow: 0 7px 20px -10px var(--w1);
}

.UserList__Search__Container .Search__Icon { 
  position: absolute;
  width:30px;
  z-index: 9;
  height:30px;
  top: 28px;
  left: 25px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Fsearch.svg?alt=media&token=1cd1b452-9705-4d55-9de8-a5661ada9bc8");
  background-position: center;
  background-size: .9em;
  background-repeat: no-repeat;
}

.UserList--Main h2 {
  font-family:var(--bold);
  color:var(--w1);
  position: absolute;
  white-space: nowrap;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
}

@media (max-width: 850px) {
  .UserList--Main h2 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .UserList {
    display: none;
  }
}