.UserList {
  position: relative;
  background-color: var(--blu);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:5em 1fr;
}

.UserList__Search__Container {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.UserList__Search__Container input {
  width: 250px;
  height: 32px;
  background: var(--blu4);
  border: none;
  border-radius: 5px;
  color:var(--w1);
}

.UserList__Search__Container input { text-indent: 32px;}
.UserList__Search__Container .Search__Icon { 
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Fsearch.svg?alt=media&token=1cd1b452-9705-4d55-9de8-a5661ada9bc8");
  background-position: center;
  background-size: 2em;
  background-repeat: no-repeat;
}