.Generator {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Fbg__auth.png?alt=media&token=116bcea1-8b96-412e-b993-9569817b9d91");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Generator::-webkit-scrollbar {
  width: 0.7em;
}

.Generator::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.Generator::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--blu);
  border-radius: 0.5em;
  border: solid 3px transparent;
}

.Generator::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--b);
}

.Generator .Generator__Container {
  position: relative;
  width: 45em;
  height: 50em;
  left: 50%;
  top: 3em;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Generator .Generator__Container .Container__Top__Avatar {
  position: relative;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background-color: var(--w1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px dashed var(--blu);
  box-shadow: 0 0 120px 0px var(--blu);
}

.Generator .Generator__Container .Container__Top__Avatar:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200%;
  height: 200%;
  z-index: -1;
  background-color: transparent;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Favatar3.png?alt=media&token=b87410ac-c084-45e2-b04c-4c02a33cda50");
  background-repeat: no-repeat;
  background-size: cover;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.Generator .Generator__Container .Container__Top__Heading {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Generator .Generator__Container .Container__Top__Heading h2 {
  font-family: var(--bold);
  font-weight: 700;
  font-size: 2rem;
  color: var(--w1);
  z-index: 999;
}

.Generator .Generator__Container .Container__Top__Heading h2 span {
  color: var(--blu);
}

.Generator .Generator__Container .Container__Top__Heading p {
  width: 80%;
  font-family: var(--light);
  font-weight: 300;
  color: var(--b);
  text-align: justify;
  margin-top: 0em;
  font-size: 1rem;
}

.Generator .Generator__Container .Container__Top__Heading p span {
  color: var(--blu);
}

.Generator .Generator__Container .Container__Mid {
  width: 85%;
  height: 8em;
  margin-top: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.Generator .Generator__Container .Container__Mid .Mid__Btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Generator .Generator__Container .Container__Mid .Mid__Btn button {
  position: relative;
  width: 13em;
  height: 3em;
  border: none;
  cursor: pointer;
  background-color: var(--blu);
  outline: none;
  border-radius: 0.75em;
  cursor: pointer;
  box-shadow: 0 7px 20px -3px var(--blu);
  font-weight: 900;
  color: var(--w1);
  font-family: var(--bold);
  font-size: 1.3rem;
  transition: background-color 0.3s, color 0.3s;
}

.Generator .Generator__Container .Container__Mid .Mid__Btn button:hover {
  background-color: var(--w1);
  color: var(--blu);
}

.Generator .Generator__Container .Container__Btm {
  width: 85%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Generator .Generator__Container .Container__Btm input[type="text"] {
  width: 88%;
  height: 95%;
  border-radius: 0.75em;
  color: var(--b);
  font-family: var(--light);
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0 2em;
  outline: none;
  border: none;
  box-shadow: 0 0 0 0 var(--w1);
  text-align: center;
  transition: box-shadow 0.3s;
}

.Generator .Generator__Container .Container__Btm input[type="text"]:focus {
  box-shadow: 0 7px 20px -3px var(--blu2);
}

.Generator .Generator__Loading {
  margin-top: 2em;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.Generator__Rooms {
  position: relative;
  margin-top: -3em;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Generator__Rooms .Generator__Rooms__Header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.Generator__Rooms .Generator__Rooms__Header h2 {
  position: relative;
  font-family: var(--bold);
  font-weight: 900;
  font-size: 2rem;
  color: var(--blu);
}

.Generator__Rooms .Generator__Rooms__Header h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: var(--w1);
}

.Generator__Rooms .Generator__Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Generator__Rooms .Generator__Links .Generated {
  width: 38em;
  height: 4em;
  display: grid;
  grid-template-columns: 8em 1fr;
  background-color: var(--w1);
  position: relative;
  cursor: pointer;
  border-radius: 0.75em;
  box-shadow: 0 7px 20px -3px var(--blu);
  transition: background-color 0.3s;
  margin-bottom: 2em;
}

.Generator__Rooms .Generator__Links .Generated:last-child {
  margin-bottom: 10em;
}

.Generator__Rooms .Generator__Links .Generated .Generated--Left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Generator__Rooms .Generator__Links .Generated .Generated--Left:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--blu);
  transition: background-color 0.3s;
}

.Generator__Rooms .Generator__Links .Generated .Generated--Left p {
  font-weight: 400;
  color: var(--b);
  font-family: var(--light);
  font-size: 0.9rem;
  transition: color 0.3s;
}

.Generator__Rooms .Generator__Links .Generated .Generated--Right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Generator__Rooms .Generator__Links .Generated .Generated--Right h2 {
  font-weight: 700;
  color: var(--b);
  font-family: var(--bold);
  font-size: 1rem;
  transition: color 0.3s;
}

.Generator__Rooms .Generator__Links .Generated:hover {
  background-color: var(--blu);
}

.Generator__Rooms .Generator__Links .Generated:hover .Generated--Left p {
  color: var(--w1);
}

.Generator__Rooms .Generator__Links .Generated:hover .Generated--Right h2 {
  color: var(--w1);
}

.Generator__Rooms .Generator__Links .Generated:hover .Generated--Left:after {
  background-color: var(--w1);
}

@media (min-width: 720px) {
  .Generator .Generator__Container {
    width: 45em;
  }
  .Generator .Generator__Container .Container__Top__Avatar {
    width: 12em;
    height: 12em;
  }
  .Generator .Generator__Container .Container__Top__Heading h2 {
    font-size: 2rem;
  }
  .Generator .Generator__Container .Container__Mid .Mid__Btn button {
    width: 13em;
    height: 3em;
    font-size: 1.3rem;
  }
  .Generator__Rooms .Generator__Links .Generated {
    width: 38em;
  }
  .Generator__Rooms .Generator__Links .Generated .Generated--Right h2 {
    font-size: 1rem;
  }
  .Generator__Rooms .Generator__Links .Generated .Generated--Left p {
    font-size: 0.9rem;
  }
  .Generator__Rooms .Generator__Rooms__Header h2 {
    font-size: 2rem;
  }
  .Generator .Generator__Container .Container__Btm input[type="text"] {
    font-size: 1.3rem;
    height: 95%;
  }
  .Generator__Rooms .Generator__Links .Generated {
    grid-template-columns: 8em 1fr;
  }
}

@media (max-width: 720px) {
  .Generator .Generator__Container {
    width: 100%;
  }
  .Generator .Generator__Container .Container__Top__Avatar {
    width: 8em;
    height: 8em;
  }
  .Generator .Generator__Container .Container__Top__Heading h2 {
    font-size: 1.6rem;
  }
  .Generator .Generator__Container .Container__Mid .Mid__Btn button {
    width: 40vw;
    height: 3em;
    font-size: .85rem;
  }
  .Generator__Rooms .Generator__Links .Generated {
    width: 90vw;
  }
  .Generator__Rooms .Generator__Links .Generated .Generated--Right h2 {
    font-size: 2.2vw;
  }
  .Generator__Rooms .Generator__Links .Generated .Generated--Left p {
    font-size: 2.2vw;
  }
  .Generator__Rooms .Generator__Rooms__Header h2 {
    font-size: 1.5rem;
  }
  .Generator .Generator__Container .Container__Btm input[type="text"] {
    font-size: 1rem;
    height: 80%;
  }
  .Generator__Rooms .Generator__Links .Generated {
    grid-template-columns: 23% 1fr;
  }
}
