.ChatWindow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--w1);
  background-image:url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Ftb04_2.png?alt=media&token=53ef205f-03d5-476f-ac11-99ccd75b42d0');
  background-repeat:repeat;
  background-size:20em;
}

.ChatWindow .Chat__Container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.ChatWindow .Chat__Container > div:last-child {
  margin-bottom: 3em;
}

.ChatWindow .Chat__Container > div:first-child {
  margin-top: 1.5em;
}

.Chat__Container::-webkit-scrollbar {
  width: 0.7em;
}

.Chat__Container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

.Chat__Container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--blu);
  border-radius: 0.5em;
  border: solid 3px transparent;
}

.Chat__Container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--b);
}