.Navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6em 1fr 6em 6em;
  border-bottom: 1px solid var(--blu);
  overflow: hidden;
}

.Navbar__Btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar__Logo {
  background-image:url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/chatto-assets%2Flogo3-01.svg?alt=media&token=1a18cf1f-0da1-42ef-857c-6015e5c1f00e');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4em;
  cursor: pointer;
  box-shadow:0 0 0 0 var(--blu);
  transition:box-shadow .2s;
}

.Navbar__Logo:hover {
  box-shadow:0 0 30px 0px var(--blu);
}

.Navbar__Btn input[type="button"] {
  background-color:var(--blu);
  font-family:var(--bold);
  outline: none;
  color:var(--w1);
  border:none;
  border-radius:.75em;
  padding:.5em .7em;
  font-weight: 900;
  cursor: pointer;
  box-shadow:0 7px 20px -3px var(--blu);
  transition:background-color .3s, color .3s;
}

.Navbar__Btn input[type="button"]:hover {
  background-color:var(--w1);
  color:var(--blu);
}