.Navbar {
  background-color: var(--w1);
  width: 100%;
  top:0;
  left:0;
  height: 3em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6em 1fr 6em 6em;
  border-bottom: 1px solid var(--blu);
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.Navbar__Btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar__Logo {
  background-image:url('http://localhost:3000/assets/logo3-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4em;
}

.Navbar__Btn input[type="button"] {
  background-color:var(--blu);
  font-family:var(--bold);
  outline: none;
  color:var(--w1);
  border:none;
  border-radius:.75em;
  padding:.5em .7em;
  font-weight: 900;
  cursor: pointer;
  box-shadow:0 7px 20px -3px var(--blu);
  transition:background-color .3s, color .3s;
}

.Navbar__Btn input[type="button"]:hover {
  background-color:transparent;
  color:var(--blu);
}