.App {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.logo {
  position: relative;
  background-image:url('http://localhost:3000/assets/logo.svg');
  width:40em;
  height:20em;
}