.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.App--Bottom {
  position: relative;
  top:3em;
  width:100%;
  height: calc(100vh - 3em);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 12em;
}