.App {
  position: absolute;
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}

.App--Bottom {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 12em;
}