:root {
  --w1: #fffaff;
  --w2: #ececec;
  --blu: #4e62f2;
  --blu2: #6272ff;
  --blu3: #3946ad;
  --b: #333333;
  --g1: #809bad;
  --g2: #b5cfe7;
  /* 500, 700, 900 */
  --bold: "Roboto", sans-serif;
  /* 300, 400 */
  --light: "Roboto Condensed", sans-serif;
}

::selection {
  background-color:var(--b);
  color:var(--w1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* filter:hue-rotate(-320deg); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
