.Settings {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.4s;
}

.Settings .Settings__Container {
  background-color: var(--blu);
  z-index: 99999;
  border-radius: 0.75em;
  display: grid;
  width: 23em;
  height: 30em;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr;
}

.Settings__Close {
  width: 13em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.75em;
  background-color: var(--w1);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.Settings__Close:hover {
  box-shadow: 0 7px 30px -10px var(--b);
}

.Settings__Close h2 {
  font-family: var(--light);
  font-weight: 200;
  color: var(--b);
  font-size: 1rem;
  transition: color 0.3s;
}

.Settings .Settings__Container .Settings__Container__Top,
.Settings .Settings__Container .Settings__Container__Mid,
.Settings .Settings__Container .Settings__Container__Btm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Settings .Settings__Container .Settings__Container__Top h2 {
  font-family: var(--bold);
  font-weight: 700;
  color: var(--w1);
  font-size: 2rem;
}

.Settings__Container__Mid .Mid__Btn {
  width: 80%;
  height: 2em;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Settings__Container__Mid .Mid__Btn button {
  background-color: transparent;
  width: 13em;
  border: 1px solid var(--w1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.75em;
  cursor: pointer;
  font-family: var(--light);
  font-weight: 200;
  color: var(--w1);
  font-size: 1rem;
  transition: color 0.3s;
  padding: 0.5em 0;
  transition: color 0.3s, background-color 0.3s;
}

.Settings__Container__Mid .Mid__Btn button:hover {
  color: var(--blu);
  background-color: var(--w1);
}

@media (max-width: 850px) {
  .Settings .Settings__Container {
    width:45vw;
  }
}

@media (max-width: 500px) {
  .Settings .Settings__Container {
    height:68vh;
    width:70vw;
  }
}